.header {
  font-size: 40px;
  font-weight: bold;
  background-color: #f5f5f5;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

.div {
  border-bottom: 5px solid darkgray;
  float: left;
  width: 60%;
  margin: 20px 20%;
}

.text {
  float: left;
}

.image {
  float: right;
}

.button {
  clear: both;
  float: right;
  margin: 10px;
  padding: 5px;
  color: white;
  background-color: darkcyan;
  border-color: white;
}